@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;

}



.parent1
{
	height: 50px;
	width: 100%;
}
.child1
{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content:space-between;
	color: white;
	background-color: black;
	font-color:yellow ;

}
.a 
{
	margin-left: 10px;

}
.a i 
{
	
	color: yellow;
}
.c 
{
	margin-right: 10px;
}
.c i 
{
	color: yellow;
}
.b i 
{
	color: yellow;
}
.parent2
{
	height: 600px;
	width: 100%;
	background-image: url(img1.jpg);
	background-position: center;
	background-size: cover;
	background-blend-mode: multiply;
	

}

.child2
{
	height: 80px;
	width: 100%;
	display: flex;
	color: white;
}
.d 
{
	height: 80px;
	width: 60%;
}
.d h2 
{
	margin-left: 10px;
}
.e
{
	height: 80px;
	width: 40%;
}
.e ul
{
	display: flex;
	align-items: center;
	justify-content:space-around;
}
.e ul i 
{
	display: none;
}
.child3
{
	height: 470px;
	width: 100%;
	display: flex;
	
}
.child03
{
	height: 400px;
	width: 40%;
	margin-left:5%;
	margin-top: 70px;
}
.child03 button
{
	height: 50px;
	width: 160px;
	border: none;
	background-color:blueviolet;
}
@media(max-width:386px)
{
	.child03 button
	{
		height: 30px;
		width: 100px;
	}
}

@media(max-width:1000px)
{
	.child03
	{
		width: 80%;
	}
}
@media(max-width:1450px)
{
	.d
	{
		width: 50%;
	}
	.e 
	{
		width: 50%;
	}
}
@media(max-width:850px)
{
	.e ul li 
	{
		display:none;
	}
	.e ul i
	{
		display: block;
		color: black;
		justify-content: flex-end;
		margin-left:40%;
		font-size: 40px;
	} 
}
@media(max-width:476px)
{
	.child1
	{
		width: 100%;
		font-size: 10px;

	}
	.child03
	{
		width: 90%;
	}
}

@media(max-width:1100px)
{
	.d
	{
		width: 40%;
	}
	.e 
	{
		width: 60%;
	}
}
@media(max-width:750px)
{
	.e ul li
	{
		display:none ;
	}
	.e ul i 
	{
		display: block;
	}
}
.parent3
{
/*	height: 500px;*/
	width: 100%;
	display: flex;
	align-items:center ;
	justify-content: space-around;
	position: relative;
	overflow: hiddenx;
}

.child4
{
/*	height: 400px;*/
	width: 40%;
	
}
.child5 hr 
{
	
	width:5%;
	margin-right:93%;
	border-color: yellow;
}
.child4 img 
{
	height: 100%;
	width: 100%;
}
.child5
{
	height: 415px;
	margin-top:px;
	width: 45%;
	position:relative;
	background-color: white;
	  right: 10%;

}
.child5 h1 
{
	margin-left: 10%;
	margin-top: 100px;
}
.child5 h4
{
	margin-left: 10%;
}
.child5 hr 
{
	margin-left: 10%;
}
.child5 button 
{
	margin-left: 10%;
}
.child5 button
{
	height: 50px;
	width: 160px;
	border: none;
	background-color:blueviolet;
}
@media(max-width:508px)
{
	.a,.b,.c 
	{
		font-size: 14px;
	}
}
@media(max-width:458px)
{
	.a,.b,.c 
	{
		font-size: 10px;
	}
}


@media(max-width:880px)
{
	.child5 
	{
		height: 60%;
	}
}
@media(max-width:600px)
{
	.parent3 
	{
		display: flex;
		flex-direction: column;
		height:600px;
	}
	.child5,.child4
	{
		width: 100%;
	}
	.child4
	{
		width: 60%;
		margin-right: 10%;
	}
	.child5
	{
		margin-left: 20%;
	}
}
.parent4
{
	width: 100%;
}
.parent4 hr
{
	height: 10px;
	width: 60px;
	color: yellow;
	background-color: yellow;
	margin-bottom: 3px;
	color: white;
}
.parent4 h1
{
	margin-bottom: 2px;
	color: blueviolet;
}

.child6
{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	flex-wrap: wrap;
}
.ch1 
{
/*	height: 425px;*/
	width: 30%;
	background-color: white;
	min-width: 200px;
}
.ch1 i
{
	font-size: 60px;
	margin-top: 10%;
	color:yellow ;
}
.ch2 
{
/*	height: 425px;*/
	width: 30%;
	background-color: white;
	min-width: 200px;
}
.ch2 i
{
	font-size: 60px;
	margin-top: 10%;
	color: yellow;
}
.ch2 button
{
	height: 50px;
	width: 160px;
	border: none;
	background-color:yellow;
	
}
.ch3 
{
/*	height: 425px;*/
	width: 30%;
	background-color: white;
	min-width: 200px;
}
.ch3 button
{
	height: 50px;
	width: 160px;
	border: none;
	background-color:yellow;
}
.ch3 i
{
	font-size: 60px;
	margin-top: 10%;
	color: yellow;
}
.ch1 button
{
	height: 50px;
	color:;
	width: 160px;
	border: none;
	background-color:yellow;

}
/*@media(max-width:1107px)
{

	.child6
	{
		height: 600px;
	}
	.ch1,.ch2,.ch3 
	{
		height: 600px;
	}
	.parent3
	{
		height: 900px;
	}
}*/
/*@media(max-width:730px)

{
	.parent3 
	{
		display: flex;
		flex-direction: column;

	}
	.child6
	{
		display: flex;
		flex-direction: column;
		background-color: ;
	}
	.ch1
	{
		width: 60%;
		background-color: black;
		color: white;
	}

	.ch2,.ch3
	{
		width: 60%;
		background-color: black;
		color: white;
	}

}*/
.parent5
{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.ch4
{
	height: 500px;
	width: 10%;
	position: relative;
	left: 6%;
}
.ch4 i 
{
	font-size: 30px;
	margin-top:180%;
	margin-left: 80%;
}
.ch5
{
/*	height: 500px;*/
	width: 60%;
	overflow: hidden;
}

.ch5 hr
{
	height: 10px;
	width: 60px;
	color: yellow;
	background-color: yellow;
	
	color: white;
}
.ch5 h1 
{
	margin-top: 10%;
}
.ch05 img 
{
	height: 150px;
	width: 150px;
}
.ch6
{
	height: 500px;
	width: 10%;
	position: relative;
	right: 6%;
}
.ch6 i 
{
	font-size: 30px;
	margin-top:180%;
	margin-right: 10%;
}
/*@media(max-width:900px)
{
	.ch4,.ch6
	{
		width: 8%;
	}
	.ch5 
	{
		width: 70%;
	}
}
@media(max-width:734px)
{
	.parent5
	{
		height: 1500px;
	}
	.ch4,.ch5,.ch6
	{
		height: 500px;
		margin-top: 900px;
	}
}
@media(max-width:461px)
{
	.parent5
	{
		height: 2500;
	}
	.ch4,.ch5,.ch6
	{
		height: 600px;
		margin-top: 1500px;
	}
}*/
.parent6 
{
	height: 700px;
	width: 100%;
	border: px solid;
	background-image: url(contactimg.jpg);
}
.parent6 h1 
{
	margin-top: 70px;
	color: white;
}
.parent6 hr
{
	height: 10px;
	width: 60px;
	color: yellow;
	background-color: yellow;
	
	color: white;
}
.ch7
{
	margin-top: 45px;

}
.ch7 input
{
	height: 50px;
	width: 500px;
	background-color: yellow;
}
.ch8 input
{
	height: 100px;
	width: 500px;
	background-color: yellow;
}
.parent6 button
{
	height: 50px;
	color:;
	width: 160px;
	border: none;
	background-color:white;


}
@media(max-width:559px)
{
	.parent6
	{
		width: 100%;
		height: px;
	}
	.ch7 input,.ch8 input
	{
		width: 50%;
	}
}
/*@media(max-width:462px)
{
	.parent6
	{
		height: 2000px;
	}
}*/
.parent8 
{
	height: px;
	width: 100%;
	border: px solid;
	overflow: hidden;
}
.ch9
{
/*	height: 600px;*/
	width: 100%;
	border: px solid;
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.sm1
{
	height:500px ;
	width: 30%;
	border: px solid;
	background-image: url(t1.jpg);
	background-position: center;
	background-size: cover;
	min-width: 200px;
	margin-top: 30px;
	border-radius:20px;
}
.s1
{
	height: 400px;
	width: 100%;
	border: px solid;
	align-items: center;
	display: flex;
	justify-content: center;
}

.s2{
	height: 100px;
	width: 100%;
	border: px solid;
	text-align: center;
	color: white;
	background-color: rgba(28, 28, 28, .75);
	border-radius: 0px 0px 20px 20px;

}
.sm2
{
	height:500px ;
	width: 30%;
	border: px solid;
	background-image: url(t2.jpg);
	background-position: center;
	background-size: cover;
	min-width: 200px;
	margin-top: 30px;
	border-radius: 20px;
}

.r1
{
	height: 400px;
	width: 100%;
	border: px solid;
	align-items: center;
	display: flex;
	justify-content: center;
}
.r2{
	height: 100px;
	width: 100%;
	border: px solid;
	text-align: center;
	color: white;
	background-color: rgba(28, 28, 28, .75);
		border-radius: 0px 0px 20px 20px;


}
.sm3
{
	height:500px ;
	width: 30%;
	border: px solid;
	background-image: url(t3.jpg);
	background-position: center;
	background-size: cover;
	min-width: 200px;
	margin-top: 30px;
	border-radius:20px ;

}
.r3
{
	height: 400px;
	width: 100%;
	border: px solid;
	align-items: center;
	display: flex;
	justify-content: center;
}
.r4{
	height: 100px;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: black;
	blend-mode: multiply;
	background-color: rgba(28, 28, 28, .75);
		border-radius: 0px 0px 20px 20px;

}
.parent8 button
{
	height: 50px;
	color:;
	width: 160px;
	border: none;
	background-color:blueviolet;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;

}
@media(max-width:915px)
{
	.sm1,.sm2,.sm3,
	{
		width: 100%;
	}
	.ch9 
	{
		width: 100%;
	}
}
.parent8 h1 
{
	margin-top: 30px;
}
.parent8 hr
{
	height: 10px;
	width: 60px;
	color: yellow;
	background-color: yellow;
	
	color: white;
}
.parent9 
{
	height: 450px;
	width: 100%;
	border:  px solid;
	background-color:black ;

}
.ch10
{
	height: 400px;
	width: 100%;
	margin-top: px;
	display: flex;
	justify-content: space-around;
	color: white;
	background-color: black;
}
.ch10 i 
{
	color: white;
}
.v1
{
	height: 400px;
	width: 20%;
	border: px solid;
}
.v1 h2 
{
	margin-top: 70px;
}

.v2
{
	height: 400px;
	width: 20%;
	border: px solid;
}
.v2 h2 
{
	margin-top: 70px;
}

.v3
{
	height: 400px;
	width: 20%;
	border: px solid;
	text-align: center;
}
.v3 h2 
{
	margin-top: 70px;
}

.v4
{
	height: 400px;
	width: 20%;
	border: px solid;
	text-align: center;
}
.v4 input 
{
	padding-left: 10px;
}

.v4 h2 
{
	margin-top: 70px;
}
.v4 input 
{
	height: 35px;
	width: 200px;
	border-radius: 20px;
}
.v4 button
{
	height: 50px;
	color:;
	width: 160px;
	border-radius: 20px;
	border: none;
	background-color:yellow;
}
@media(max-width:915px)
{
	.ch10
	{
		display: flex;
		flex-direction: column;
		background-color: black;
		width: 100%;
		height: 800px;

	}
	.v1,.v2,.v3,.v4
	{
		width: 100%;
	}

	.parent9
	{
		height: 830px;
	}
	.v1,.v2 
	{
		font-size: 15px;
	}
}

